.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: pink;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table, td {
   border: 1px solid black;
}

table {
    width: 50%;
    position:relative;
    align: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

td {
    height: 40px;
    background-color: #f0edb0;

}

#scores {
  text-align: left;
}

.circle-0 {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  align: center;
}

.circle-1 {
  background: red;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  align: center;
}

.circle-2 {
  background: yellow;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  align: center;
}
