.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: pink;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table, td {
   border: 1px solid black;
}

table {
    width: 50%;
    position:relative;
    top:30%;
    left:30%;
    right:10%
}

td {
    height: 40px;
}

#scores {
  text-align: left;
}
